# 나만의 데이터 만들기

## 시리즈 만들기

> Series() 메소드에 리스트를 전달하여 시리즈생성

In [2]:
import pandas as pd
s = pd.Series(['Wes Mcikinney','Creator of Pandas'])
print(s)

0        Wes Mcikinney
1    Creator of Pandas
dtype: object

In [3]:
s = pd.Series(['Wes Mcikinney','Creator of Pandas'], index = ['Person','Who']) #  index 인자에 문자열을 리스트로 담아 전달 
print(s)

Person        Wes Mcikinney
Who       Creator of Pandas
dtype: object

## 데이터프레임 만들기

> DataFrame() 메소드에 딕셔너리 전달하여 데이터프레임 생성

In [4]:
scientists = pd.DataFrame({
    'Name' : ['Rosaline Franklin', 'William Gosset'],
    'Occupation':['Chemist', 'Statistician'],
    'Born' : ['1920-07-25','1877-06-13'],
    'Died': ['1958-04-16','1937-10-16'],
    'Age' : [37,61] })
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1877-06-13  1937-10-16   61

In [8]:
scientists = pd.DataFrame(
    data={'Occupation':['Chemist', 'Statistician'],
          'Born' : ['1920-07-25','1877-06-13'],
          'Died': ['1958-04-16','1937-10-16'],
          'Age' : [37,61] },
    index = ['Rosaline Franklin', 'William Gosset'],
    columns = ['Occupation','Born','Age','Died']) # columns을 내가 원하는 순서로 재 정렬 
print(scientists)

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1877-06-13   61  1937-10-16

In [9]:
scientists = pd.DataFrame(
    data={'Occupation':['Chemist', 'Statistician'],
          'Born' : ['1920-07-25','1877-06-13'],
          'Died': ['1958-04-16','1937-10-16'],
          'Age' : [37,61] },
    index = ['Rosaline Franklin', 'William Gosset'],
    columns = ['Occupation','Born','Age','Died']) # columns을 내가 원하는 순서로 재 정렬 
first_row = scientists.loc['William Gosset'] # index 값중 William Gosset값을 가진 행을 first_row에 저장 
print(type(first_row))
print(first_row)

<class 'pandas.core.series.Series'>
Occupation    Statistician
Born            1877-06-13
Age                     61
Died            1937-10-16
Name: William Gosset, dtype: object

In [11]:
zero_row = scientists.iloc[0] # iloc는 인덱스 숫자값 
print(zero_row)

Occupation       Chemist
Born          1920-07-25
Age                   37
Died          1958-04-16
Name: Rosaline Franklin, dtype: object

index 속성사용하기

In [13]:
print(first_row.index)

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')

values 속성 사용하기

In [15]:
print(first_row.values)

['Statistician' '1877-06-13' 61 '1937-10-16']

keys()메소드 사용하기(==index 속성)

In [16]:
print(first_row.keys())

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')

## 기초통계 메소드 사용하기

> scientists 데이터 프레임의 Age 열 추출

In [17]:
ages = scientists['Age']
print(ages)

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

>시리즈 관련 메소드 mean(), sum(), max(), min() 등 ( 교재 page 61-62 참조)

In [18]:
print(ages.sum())

98

In [19]:
print(ages.mean())

49.0

In [20]:
scientists.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, Rosaline Franklin to William Gosset
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Occupation  2 non-null      object
 1   Born        2 non-null      object
 2   Age         2 non-null      int64
 3   Died        2 non-null      object
dtypes: int64(1), object(3)
memory usage: 188.0+ bytes

In [25]:
print(scientists.describe()) # 수치계산이 가능한 열을 자동으로 여러 메소드를 사용혜 계산 값을 구할때 사용

             Age
count   2.000000
mean   49.000000
std    16.970563
min    37.000000
25%    43.000000
50%    49.000000
75%    55.000000
max    61.000000

In [24]:
print(scientists.describe().loc['count'])

Age    2.0
Name: count, dtype: float64