# 데이터 집합 불러오기

> read_csv('경로/파일명.tsv',sep = )

In [2]:
import pandas as pd
df = pd.read_csv('C:/STUDY/StudyPandas/data/gapminder.tsv',sep='\t')
df

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [4]:
pd.read_csv('C:/STUDY/StudyNumpy/StudyNumpy/data.csv')

,1.000000000000000000e+00,2.000000000000000000e+00,3.000000000000000000e+00,4.000000000000000000e+00,5.000000000000000000e+00
0,6.0,7.0,8.0,9.0,10.0
1,11.0,12.0,13.0,14.0,15.0
2,16.0,17.0,18.0,19.0,20.0
3,21.0,22.0,23.0,24.0,25.0

In [3]:
df1 = pd.read_csv('C:/STUDY/StudyNumpy/StudyNumpy/data.csv',header =None)
df1

      0     1     2     3     4
0   1.0   2.0   3.0   4.0   5.0
1   6.0   7.0   8.0   9.0  10.0
2  11.0  12.0  13.0  14.0  15.0
3  16.0  17.0  18.0  19.0  20.0
4  21.0  22.0  23.0  24.0  25.0

In [4]:
df2 = pd.read_csv('C:/STUDY/StudyPython22/busanbus_211231.csv',encoding='utf8')
df2

,노선,건수(1통행)_일반,건수(1통행)_청소년,건수(1통행)_어린이,건수(2통행)_일반,건수(2통행)_청소년,건수(2통행)_어린이,건수(3통행)_일반,건수(3통행)_청소년,건수(3통행)_어린이,교통카드건수합계
0,1,12095,491,81,3913,106,7,680,11,2,17386
1,10,1984026,258794,35896,546399,40963,2629,104367,5176,208,2978458
2,100,1015168,65535,9020,214414,8789,657,39055,914,114,1353666
3,100-1,1404565,114532,15368,354817,16858,1136,61886,2505,120,1971787
4,1000,458221,15678,2768,119987,3772,301,14218,325,38,615308
...,...,...,...,...,...,...,...,...,...,...,...
309,해운대구3-1,439665,37103,14675,158849,13168,553,43810,1370,33,709226
310,해운대구3-2,167388,25533,4631,56321,3255,177,15289,171,12,272777
311,해운대구7,197971,7151,2554,49580,1510,208,13036,338,36,272384
312,해운대구8,34822,1151,343,8534,282,33,2342,45,10,47562
313,해운대구9,56965,1698,346,11996,312,36,3554,88,1,74996

> df.head()

In [5]:
df.head(7)

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
5  Afghanistan      Asia  1977   38.438  14880372  786.113360
6  Afghanistan      Asia  1982   39.854  12881816  978.011439

In [6]:
df.tail(3)

       country continent  year  lifeExp       pop   gdpPercap
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [7]:
print(type(df)) # 자료형 확인

<class 'pandas.core.frame.DataFrame'>

In [8]:
print(df.shape) # 데이터의 행과 열의 크기 정보

(1704, 6)

In [9]:
print(df.columns) # 데이터 프레임의 열 정보

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [10]:
print(df.dtypes) # 데이터프레임의 모든 열 자료형 확인

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [20]:
print(df.info()) # 데이터 프레임의 상세정보 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB
None

# 데이터 추출하기

df['열이름']  열단위 데이터 추출하기 -> 시리즈

In [11]:
country_df = df['country']
print(type(country_df))
country_df

<class 'pandas.core.series.Series'>

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

여러개의 열 데이터 추출하기 -> 데이터 프레임

In [12]:
subset = df[['country','continent','year']]
print(type(subset))
subset

<class 'pandas.core.frame.DataFrame'>

          country continent  year
0     Afghanistan      Asia  1952
1     Afghanistan      Asia  1957
2     Afghanistan      Asia  1962
3     Afghanistan      Asia  1967
4     Afghanistan      Asia  1972
...           ...       ...   ...
1699     Zimbabwe    Africa  1987
1700     Zimbabwe    Africa  1992
1701     Zimbabwe    Africa  1997
1702     Zimbabwe    Africa  2002
1703     Zimbabwe    Africa  2007

[1704 rows x 3 columns]

In [29]:
print(subset.tail())

       country continent  year
1699  Zimbabwe    Africa  1987
1700  Zimbabwe    Africa  1992
1701  Zimbabwe    Africa  1997
1702  Zimbabwe    Africa  2002
1703  Zimbabwe    Africa  2007

행 단위 데이터 추출하기

-- loc : 인덱스를 기준으로 행 데이터 추출

-- iloc : 행번호를 기준으로 행 데이터 추출

- loc 속성으로 행 데이터 추출하기

In [13]:
print(df.loc[0])

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [14]:
print(df.loc[99])

country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap    721.186086
Name: 99, dtype: object

In [15]:
print(df.loc[-1]) # loc 는 문자열만 가능하기때문에 -1의 값은 존재하지 않는다(Key error) , loc 는 문자열로 찾는함수

KeyError: -1

In [18]:
number_of_rows = df.shape[0]
last_row_index = number_of_rows -1
print(df.loc[last_row_index]) # 마지막 값 출력 , 추천 X , 인덱스가 문자열일때 사용 불가

country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object

In [19]:
print(df.tail(n=1)) # 마지막값 출력

       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [21]:
df_tail = df.tail(1)
df_tail

       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

여러 행 데이터 추출하기

In [23]:
print(df.loc[[0,99,999]])

         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

In [24]:
print(df.loc[0:2]) # 0부터 2사이의 값을 출력(2 포함) , loc는 문자열로 찾는 함수, ex) first:third = first~third 사이의 값을 추출

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710

> iloc속성으로 행데이터 추출하기

In [25]:
df.iloc[0]

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [17]:
print(df.iloc[-1]) # iloc는 숫자형 이기 때문에 -1 하면 우리가 아는대로 마지막 값이 출력된다

country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object

In [26]:
print(df.iloc[1710]) # 행의 범위 초과 (index Error)

IndexError: single positional indexer is out-of-bounds

> loc,iloc 속성 자유자재로 사용하기

슬라이싱 구문으로 데이터추출하기

In [32]:
subset = df.loc[:,['year','pop']]
print(subset.head())

   year       pop
0  1952   8425333
1  1957   9240934
2  1962  10267083
3  1967  11537966
4  1972  13079460

In [33]:
subset = df.loc[:]
print(subset.head())

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [37]:
subset = df.iloc[:,[2,4,-1]]
print(subset.head())

   year       pop   gdpPercap
0  1952   8425333  779.445314
1  1957   9240934  820.853030
2  1962  10267083  853.100710
3  1967  11537966  836.197138
4  1972  13079460  739.981106

In [38]:
subset = df.iloc[:,range(5)] # 0~4열 값 출력 subset2 = df.iloc[:,0:5]
print(subset.head())

       country continent  year  lifeExp       pop
0  Afghanistan      Asia  1952   28.801   8425333
1  Afghanistan      Asia  1957   30.332   9240934
2  Afghanistan      Asia  1962   31.997  10267083
3  Afghanistan      Asia  1967   34.020  11537966
4  Afghanistan      Asia  1972   36.088  13079460

여러개의 행, 여러개의 열 데이터 추출하기

In [42]:
print(df.loc[[0,99,999],['country','lifeExp','gdpPercap']])

         country  lifeExp    gdpPercap
0    Afghanistan   28.801   779.445314
99    Bangladesh   43.453   721.186086
999     Mongolia   51.253  1226.041130

In [43]:
print(df.iloc[[0,99,999],[0,3,5]])

         country  lifeExp    gdpPercap
0    Afghanistan   28.801   779.445314
99    Bangladesh   43.453   721.186086
999     Mongolia   51.253  1226.041130

In [44]:
print(df.loc[10:13,['country','lifeExp','gdpPercap']]) # loc에서 10:13 은 13 인덱스 값까지 포함해서 출력

        country  lifeExp    gdpPercap
10  Afghanistan   42.129   726.734055
11  Afghanistan   43.828   974.580338
12      Albania   55.230  1601.056136
13      Albania   59.280  1942.284244

In [45]:
print(df.iloc[10:13,[0,3,5]]) # iloc는 일반적으로 우리가 아는 슬라이싱 처럼 13번째 행은 제외하고 출력

        country  lifeExp    gdpPercap
10  Afghanistan   42.129   726.734055
11  Afghanistan   43.828   974.580338
12      Albania   55.230  1601.056136

In [46]:
df.loc[:,'country':'pop']

          country continent  year  lifeExp       pop
0     Afghanistan      Asia  1952   28.801   8425333
1     Afghanistan      Asia  1957   30.332   9240934
2     Afghanistan      Asia  1962   31.997  10267083
3     Afghanistan      Asia  1967   34.020  11537966
4     Afghanistan      Asia  1972   36.088  13079460
...           ...       ...   ...      ...       ...
1699     Zimbabwe    Africa  1987   62.351   9216418
1700     Zimbabwe    Africa  1992   60.377  10704340
1701     Zimbabwe    Africa  1997   46.809  11404948
1702     Zimbabwe    Africa  2002   39.989  11926563
1703     Zimbabwe    Africa  2007   43.487  12311143

[1704 rows x 5 columns]

In [47]:
df.iloc[:,0:-1] # iloc에서 슬라이싱할때 마지막 값 포함 X

          country continent  year  lifeExp       pop
0     Afghanistan      Asia  1952   28.801   8425333
1     Afghanistan      Asia  1957   30.332   9240934
2     Afghanistan      Asia  1962   31.997  10267083
3     Afghanistan      Asia  1967   34.020  11537966
4     Afghanistan      Asia  1972   36.088  13079460
...           ...       ...   ...      ...       ...
1699     Zimbabwe    Africa  1987   62.351   9216418
1700     Zimbabwe    Africa  1992   60.377  10704340
1701     Zimbabwe    Africa  1997   46.809  11404948
1702     Zimbabwe    Africa  2002   39.989  11926563
1703     Zimbabwe    Africa  2007   43.487  12311143

[1704 rows x 5 columns]